/* General Formatting */

#income_statement {
    -webkit-box-shadow: 0px 0px 5px rgba(163,147,130,0.75);
    -moz-box-shadow: 0px 0px 5px rgba(163,147,130,0.75);
    box-shadow: 0px 0px 5px rgba(163,147,130,0.75);
    max-width: 600px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

div {
    line-height: 1.5em;
}

span {
    position:relative;
    cursor: pointer;
    line-height: 1.5em;
}

input {
    text-align: right;
    width: 145px;

}

/* Fluid Row Formatting */

.container {
    max-width: 500px;
}

.span8 {
    text-align: left;
    line-height: 30px;
    /*background-color: #f7f7f7;*/
}

.span4 {
    text-align: right;
    line-height: 30px;
    /*background-color: #e6e6e6;*/
}

.row-fluid {
    background-color: #f7f7f7;
}

/* Specific Features */

.editable_field {
    cursor: pointer;
    line-height: 1.5em;
}

.expandable_right {
    float: right;
}

.calculated_field {
    text-decoration: underline;
}

#intro h6 {
    cursor: pointer;
}

.year:hover {
    color: red;
}


/* Income Statement Formatting Specific */

.sum_final {
    color: black;
    text-align: right;
}

.left_indent {
    float: left;
    text-indent: 25px;
}

.ind_final {
    color: darkgray;
    text-align: right;
}

.total {
    font-weight: bold;
    text-align: right;
}

.italic {
    font-style: italic;
    line-height: 1.5em;
}

.hidden {
    display: none;
}

.bold {
    color: black;
    font-weight: bold;
}

.blank {
    line-height: 20px;
    color: white;
}

.empty {
    background-color: white;
}




/* Specific to the navigation bar layout */

body {
    background-color: white;
    color: black;
    font-family: helvetica;
}

#menu {
    background-color: lightcyan;
}

#menu span {
    float: left;
}

#menu ul {
    list-style: none;

    padding: 0;
    text-align: center;

    position: relative;
    float: left;
    display: block;

}
#menu ul li {
    list-style: none;
    float: left;
    display: block;
    position:relative;
    padding-right: 5px;
    padding-left: 5px;
}

.error {
    color: red;
}

#sign_up_form, #log_in_form{
    float: left;
    padding: 5px;
}

#sign_up_form input, #log_in_form input {
    padding-right: 5px;
    width: auto;
    float: none;
    text-align: left;

}

#logo {
    float: left;
    height: auto;
    clear: both;
    font-family: 'Sansita One', cursive;
}

#logo a {
    padding-top: 15px;
    margin: 5px;
    font-size: 56px;
}

#logo span {
    padding-left: 10px;
    margin-left: 5px;
}

#nav {
    float: left;
    clear: left;
    padding-left: 10px;
    text-align: left;
}

#content {
    float: left;
    position: relative;
    clear: left;
}

#user_table_index {
    margin-left: 10px;
}

#user_table_index span {
    float: none;
}

#user_table_index input {
    text-align: left;
}

#user_table_index li {
    text-align: left;
    float: left;
    clear: left;
    padding-left: 0;

}
#name {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #428bca;
    text-decoration: none;
}

#new_table {
    text-indent: 30px;
    color: darkgray;
    opacity: 0.5;
    position: relative;
    clear: left;
}

#new_table:hover {
    color: black;
    opacity: 1;
}